* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif;
} 

body {
    font-size: 16px;
    } 
    
.main {
  background-image: url(./images/bg-tablet-pattern.svg);
  background-repeat: no-repeat;
  background-position-x: 135%;
  background-position-y: -18%;
 
  
  
}
    
    
.container {
      max-width: 1140px;
      margin-left: auto;
      margin-right: auto;
   
   }
   
   
.container .navbar {
     display: flex;
     justify-content: space-between; 
     align-items: center;
     padding: 1.5rem;
   
   
   }


  .header-ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  color: hsl(228, 39%, 23%);
}
  

     
    
    
 h3  {
    padding-bottom: 40px;
    }
    
    
    a {
    color: hsl(228, 39%, 23%);
    text-decoration: none;
    font-weight: 500;
    /* transform: translateY(10px); */
    }
    
    
    
.menu {
      padding: 10px;
      max-width: 30%;
      margin-left: 700px;
      margin-right: 180px;
    
    }
    
.container > .log  {
      text-align: left;
    
    }
    
.container > .orange-button  {
    text-align: right;
    
    }
    
    
ul > li {
      list-style-type: none;
    }
    
    
.orange-button {
      background-color: hsl(12, 88%, 59%);
      color: hsl(0, 0%, 98%);
      margin-top: 30px;
      transition: box-shadow 0.15s;
      box-shadow: 1px 5px 20px rgb(250, 168, 182);
      transition: margin-bottom 0.5s;
    }
    
.orange-button:hover {
    opacity: 0.7;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgb(235, 209, 209);
    
    
    }

.orange-btn {
      background-color: hsl(12, 88%, 59%);
      color: hsl(0, 0%, 98%);
      margin-top: 30px;
      transition: box-shadow 0.15s;
      box-shadow: 1px 5px 20px rgb(250, 168, 182);
      transition: margin-bottom 0.5s;

    }
    
.orange-btn:hover {
    opacity: 0.7;
    margin-bottom: 20px;
    box-shadow: 5px 5px 15px rgb(235, 209, 209);
    
    
    }

    
button {
      padding: 8rem 2rem;
      border: none;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      font-weight: 500;
      align-items: center;
      justify-content: center;
    } 

      
.container .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      padding: 1.5rem;
      
      
      
      }
      
      
      
h3  {
   padding-bottom: 40px;
      }
      
      
  
      
      
menu {
    padding: 10px;
    max-width: 30%;
    
      
      }
      
  
     
     
.container > .log  {
  text-align: left;
      
      }
  
       
      
    
     
 /* section 2 and section 3 */
    
    
     .container-2 {
      display: flex; 
      justify-content: flex-start;
      max-width: 1140px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      margin-bottom: 100px;
     
     
      }
    
    .container-2 > .left-column {
      /* background-color: #f1f1f1;  */
      max-width: 50%;
      margin: 10px;
      text-align: start;
      font-size: 16px; 
      /* padding-right: 10rem; */
      
    
    }
    .container-2 > .right-column {
       /* background-color: #f1f1f1;  */
      max-width: 50%;
      margin: 10px;
      text-align: start;
      font-size: 30px;

     
    }
    
    
    .container-2 .left-column p {
     
      color: hsl(227, 12%, 61%);
      /* font-size: 16px;  */
      padding-right: 8rem;
      line-height: 1.5;
    }
    
    .container-2 .left-column h1 {
      font-size: 3.5rem;
      font-weight: 700;
      color: hsl(228, 39%, 23%);
      margin-bottom: 30px;
    
    }
    
    .container-2 .right-column p {
      padding-right: 10rem;
      color: hsl(227, 12%, 61%);
      font-size: 16px;
      line-height: 1.5;
      margin-left: 90px;
    }
    
    .container-2 .right-column h5 {
      padding-right: 12rem;
      color: hsl(228, 39%, 23%);
      font-size: 16px;
      margin-bottom: 20px;
      margin-top: 20px;
      display: flex;
      flex-flow: row; 
      align-items: center;
      gap: 15px;
    
    }
    
    
    .steps {
      display: flex;
      flex-flow: column;
    }
    
    .small-btn {
      padding: 0.5rem 1.5rem;
      background: hsl(12, 88%, 59%);
      display: inline-flex;
      border-radius: 50px;
      font-weight: 700;
      color: hsl(0, 0%, 98%);
      max-width: 90px;
     
    }
    
    
    
    h2  {
      color: hsl(228, 39%, 23%);
      font-size: 2rem;
      text-align: start;
      padding-right: 3rem;
      margin-bottom: 30px;
    }
    
    
    h1  {
      color: hsl(228, 39%, 23%);
      text-align: start;
    }
    
    
    
    
    /* section 4 */
    
    
    .row {
      display: flex;
      flex-flow: row;
      gap: 20px;
      
    }
    
    
    .column {
      /* position: relative;
      overflow-y: hidden;
      transform: translateZ(0); */
      background-color: hsl(0, 0%, 98%);
    }
    
     .container-3 {
      max-width: 1140px;
      margin-right: auto;
      margin-left: auto;
    } 
    
    .second-h2 {
      color: hsl(228, 39%, 23%);
      font-size: 2rem;
      text-align: center;
      margin-bottom: 50px;
    
    }
    
    
    
    h6 {
      text-align: center;
      font-size: 16px;
      color: hsl(228, 39%, 23%);
      margin-top: 30px;
      
    }
    
    .row .column p {
      text-align: center;
      color: hsl(227, 12%, 61%);
      padding: 1rem;
      margin-right: 20px;
      line-height: 1.5;
    
    }
    
    
    .pics {
      margin-top: 10px;
      width: 60px;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
    
    }
    
    
    .orange-button-2 {
      background-color: hsl(12, 88%, 59%);
      color: hsl(0, 0%, 98%);
      margin-top: 30px;
      display: block;
      text-align: center;
      margin-top: 50px;
      margin-bottom: 50px ;
      margin-left: 46%;
      transition: box-shadow 0.25s;
      box-shadow: 1px 5px 20px rgb(250, 168, 182);
      transition: margin-bottom 0.5s;
      
      }
      
      
      .orange-button-2:hover {
      opacity: 0.7;
      margin-bottom: 20px;
      box-shadow: 5px 5px 15px rgb(236, 223, 223);
     
      
      
      }
      
      
      
      
      button {
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      font-weight: 500;
      align-items: center;
     
      } 
      
    
      
    /* section 5 */
    
    .end-bar {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      background-color: hsl(12, 88%, 59%);
      padding: 40px;
      padding-left: 300px;
      padding-right: 200px;
      background-image: url(./images/bg-simplify-section-desktop.svg);
    }

    h3 {  
      font-size: 2.5rem;
      color:hsl(0, 0%, 98%);
    }
    
    
    .white-button {
      color: hsl(12, 88%, 59%);
      background: hsl(0, 0%, 98%);
      font-weight: 700;
    }
    
    .end-bar button {
      padding: 0.8rem 2rem;
      border: none;
      border-radius: 50px;
      outline: none;
      cursor: pointer;
      font-weight: 500;
      align-items: center;
    
      
     
      } 
    
    
    /* footer */
    
    
    .footer-container {
      background-color: hsl(233, 12%, 13%);
      color: hsl(0, 0%, 98%);
     
      
      
      }
      
      .footer-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 30px;
        margin-right: auto;
        margin-left: auto;
        padding-top: 50px;
        padding-left: 300px;
        padding-right: 300px;
        padding-bottom: 30px;
      }
      
      
      
      .col-1 {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 50px;
      } 
      
      
      .col-1 .social-icons > ul {
        display: flex;
        flex-flow: row;
        gap: 15px;
      }


      
      .menu-links a {
        color: hsl(0, 0%, 98%);
        font-weight: 500;
        text-decoration: none;
      } 
      
      
      .menu-links > ul {
        display: flex;
        flex-flow: column;
        gap: 20px;
      }
      
      
      
      .col-4 {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        gap: 40px;
        text-align: center;
      }
       


      .form .input {
        padding: 8px;
        border-radius: 20px;
        border: none;
       
      }

    
      .small-orange-btn {
        background: hsl(12, 88%, 59%);
        border-radius: 50px;
        font-weight: 700;
        color: hsl(0, 0%, 98%);
        max-width: 200px;
        padding: 10px 20px;
        cursor: pointer;
        font-weight: 500;
        border: none;
         
      }
      
  
    .copyright {
      font-size: 15px;
    }
    
    
    
    
    
    
    
    /* media tablet device */

 @media (min-width: 768px) and (max-width: 991px) {
     
   .container {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    
    }

    .header-ul {
      gap: 0.6rem;
     
    }
   
    
    /* section 2 and section 3 */
    .container-2 {
      max-width: 720px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
     
     
      }
    
    
    .container-2 > .left-column {
      max-width: 50%;
      margin: 10px;
     
    }


    .container-2 > .right-column {
      max-width: 50%;
      margin: 10px;
      padding-right: 0;
    

    }
    
    .container-2 > .right-column img {
      width: 110%;
    
     
    }
    
    .container-2 .left-column p {
      padding-right: 0;
      line-height: 1.5;
      font-size: 16px;

    }
    
    .container-2 .left-column h1 {
      font-size: 2.5rem;
    
    
    }
    
    .container-2 .right-column p {
      padding-right: 2rem;
      color: hsl(227, 12%, 61%);
      font-size: 16px;
      line-height: 1.5;
      margin-left: 90px;
    }
    
    .container-2 .right-column h5 {
      padding-right: 0.9rem;
     
    }
    
    
    
    h2  {
      font-size: 2rem;
      padding-right: 1rem;
      margin-bottom: 30px;
      margin-top: 300px;
    }
    
    /* section 4 */
    
    .row {
      gap: 20px;
      padding: 50px 0;
      
    }
    
    
    .column {
      max-width: 720px;
      
    }
    
     .container-3 {
      max-width: 720px;
      
    } 
 
    
    h6 {
      line-height: 1.7;
      
    }

   .end-bar {
    padding-right: 30px;
    padding-left: 30px;
   }

    
     
    /* footer */
    .small-orange-btn {
     margin-top: 20pxpx;
   
  }

  .footer-container {
    padding-right: 30px;
    padding-left: 30px;
  }
}






    
    
/* mobile devices    */



@media (min-width: 375px) and (max-width: 767px) {
 
  .header-ul{
    display: none;
  }

  .container h1   {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    
  }


  .orange-button {
    display: none;
  }
  
  .container-2 {
    max-width: 100%;
    margin-left: auto;
    margin-left: auto;
  }


  .section-two .container-2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;

  }

  
  .section-two .container-2 .right-column {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }  

  .section-two .container-2 .left-column {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

  }


  .section-two .container-2 .left-column h1 {
    font-size: 2rem;
    text-align: center;
  }
 

  .section-two .container-2 .left-column p {
    text-align: center;
    padding-right: 80px;
    padding-left: 80px;
  }

  .second-button {
    text-align: center;
  }


  .section-three .container-2 {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

  }

  

  .section-three .container-2 .left-column {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.section-three .container-2 .right-column{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
 
}  


.section-three .container-2 .left-column h2 {
  text-align: center;

}


 .section-three .container-2 .left-column p {
  text-align: center;
  padding-right: 70px;
  padding-left: 70px;
  

 }


 .section-three .container-2 .right-column h5 {
   background: hsla(12, 88%, 59%, 0.1);
   margin-left: 30px;
    }
  
  
  .section-three .container-2 .right-column p {
      padding-right: 0;
    }
 

  .container-3 h2 {
    padding-left: 50px;
  }

  .orange-button-2 {
    margin-left: 40%;
  }

  .end-bar {
    flex-flow: column;
    text-align: center;
    gap: 30px;
    
  }

  /* footer */

  .footer-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
  }
  

  .end-bar {
    padding-right: 30px;
    padding-left: 30px;

  }

  .social-icons {
    padding-left: 250px;
    padding-right: 250px;
  }


  .form .input {
    padding: 15px 100px;
    border-radius: 20px;
    border: none;
   
  }
 }
  

 
      
      
      
      
      
      
      
      
      
      
      





      
     
   
      
    